#ifndef CONFIG_H
#define CONFIG_H

// Pin definitions
const int pinDHT = 32;
const int pinLDR = 35;
const int pinLED = 14;
const int pinBTN = 27;

// MQTT config
const char mqttBroker[] = "test.mosquitto.org";
const int mqttPort = 1883;
const char mqttTopic[] = "homeprompt/sensor/livingroom";

// Refresh time for sensor readings in ms
const unsigned long refreshTime = 1000;
const unsigned long serialPrintTime = 5000;

// Tresholds for the LDR sensor
const unsigned int ldrTreshold = 1000;
const unsigned long ldrTriggerDelay = 5000;
const unsigned long ldrResetDelay = 5000;

// Internal constants that maybe do not belong here
const unsigned int taskLowPriority = 1;
const unsigned int taskMediumPriority = 2;
const unsigned int taskHighPriority = 3;
#endif